/* Home */

.card1 img, .card2 img, .card3 img {
    width: 93% !important;
}

.card1, .card2, .card3 {
    height: 570px !important;
}

.card1 h2, .card2 h2, .card3 h2 {
    font-size: 20px !important;
}

.menuph {
    display: block !important;
}

.menu nav{
    display: none !important;
}

/* Home */
/* EUIV */

#euivtxt {
    width: 50% !important;
}

/* EUIV */
/* HOIIV */

#hoitxt {
    width: 50% !important;
    height: auto !important;
    top: -20% !important;
    left: 27% !important;
}

#hoiserv h2 {
    font-size: 2rem !important;
}

#hoiserv p {
    width: 400px !important;
}

/* HOIIV */
/* CK3 */

#ck3txt {
    width: 50% !important;
    top: 20% !important;
}

#ck3serv h2 {
    font-size: 2rem !important;
}

#ck3serv p {
    width: 400px !important;
}

/* CK3 */
/* EUV */

#euvtxt {
    width: 50% !important;
    height: auto !important;
    top: 90px !important;
    left: 235px !important;
}

#euvserv h1 {
    font-size: 3rem !important;
}

#euvserv p {
    width: 400px !important;
}

/* EUV */
/* Services */

#serv1, #serv2, #serv3, #serv4 {
    width: 400px !important;
    margin-left: 20px !important;
}

#serv1 img, #serv2 img, #serv3 img, #serv4 img {
    width: 380px !important;
}

/* Services */
/* About Us */

.cof img {
    width: 90% !important;
    height: auto;
}

.cof h3 {
    font-size: 0.75rem;
}

#cc2 h3 {
    top: 90% !important;
}