.card1 img, .card2 img, .card3 img {
    width: 93% !important;
}

.card1, .card2, .card3 {
    height: 570px !important;
}

.card1 h2, .card2 h2, .card3 h2 {
    font-size: 20px !important;
}

.menuph {
    display: block !important;
}

.menu {
    display: none !important;
}