.menu a {
    font-size: 24px !important;
}

.menu-logo img {
    height: 100px !important;
    width: 250.2px;
}

/* General */
/* EUIV */

#euivtxt {
    width: 50% !important;
    height: auto !important;
}

/* EUIV */
/* HOIIV */

#hoitxt {
    width: 50% !important;
    height: auto !important;
    top: -20% !important;
    left: 26% !important;
}

#hoiserv p {
    width: 600px !important;
}

/* HOIIV */
/* CK3 */

#ck3txt {
    width: 50% !important;
    top: 20% !important;
}

#ck3serv p {
    width: 600px !important;
}

/* CK3 */
/* EUV */

#euvtxt {
    width: 50% !important;
    height: auto !important;
    top: 140px !important;
    left: 370px !important;
}

#euvserv p {
    width: 600px !important;
}

/* EUV */
/* Services */
