/* EUIV */

#euivtxt {
    width: 50% !important;
    height: auto !important;
    top: 100px !important;
    left: 210px !important;
}

/* EUIV */
/* HOIIV */

#hoitxt {
    width: 50% !important;
    height: auto !important;
    top: 20px !important;
    left: 200px !important;
}

#hoiserv p {
    width: 600px !important;
}

/* HOIIV */
/* CK3 */

#ck3serv p {
    width: 600px !important;
}

/* CK3 */
/* EUV */

#euvtxt {
    width: 50% !important;
    height: auto !important;
    top: 140px !important;
    left: 370px !important;
}

#euvserv p {
    width: 600px !important;
}

/* EUV */
/* Services */

#serv1 p {
    top: 430px !important;
    left: 380px !important;
}

#serv2 p {
    top: 910px !important;
    left: 380px !important;
}

#serv3 p {
    top: 1350px !important;
    left: 300px !important;
}

#serv4 p {
    top: 1790px !important;
    left: 380px !important;
}