@import "reset.scss";

body {
    background-color: #2d2d2d;
}

h1 {
    font-size: 36px;
    font-family: "Times New Roman", Times, serif;
}


.menu {
    height: 100px;
    width: 100%;
    background-color: #141414;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 36px;
    transition: color 0.1s linear, font-size 0.1s linear;
    margin: 10px 10px;
}

nav a:hover {
    color: #39ff14;
    font-size: 60px;
}

.card1 {
    height: 380px;
    width: 1000px;
    border-radius: 10px;
    background-color: white;
    margin: 70px 10%;
    display: flex;
    flex-direction: row;
    transition: background-color 0.1s linear, transform 0.1s linear;
}

.card1:hover{
    background-color: #141414;
    transform: scale(1.05);
}

.card1 .flavour {
    transition: transform 0.1s ease, color 0.1s linear;
    color: #9900ff;
}

.card1:hover .flavour {
    transform: scale(1.05);
    color: #39ff14;
}

.flavour h2, p {
    font-family: "Verdana", Geneva, sans-serif;
}

.card1 img {
    width: 637px;
    height: 358px;
    margin: 10px;
    border-radius: 10px;
}

.flavour {
    margin: 10px 20px;
}

.flavour h2 {
    font-size: 28px;
    margin: 10px 0 20px 0;
}

.card2 {
    height: 380px;
    width: 1000px;
    border-radius: 10px;
    background-color: white;
    margin: 140px 50px 70px 10%;
    display: flex;
    flex-direction: row;
    transition: background-color 0.1s linear, transform 0.1s linear;
}

.card2:hover{
    background-color: #141414;
    transform: scale(1.05);
}

.card2 .flavour1 {
    transition: transform 0.1s ease, color 0.1s linear;
    color: #9900ff;
}

.card2:hover .flavour1 {
    transform: scale(1.05);
    color: #39ff14;
}

.flavour1 h2, p {
    font-family: "Verdana", Geneva, sans-serif;
}

.card2 img {
    width: 637px;
    height: 358px;
    margin: 10px;
    border-radius: 10px;
    flex-shrink: 0;
}

.flavour1 {
    margin: 10px 20px;
}


.flavour1 h2 {
    font-size: 28px;
    margin: 10px 0 20px 0;
}

.card3 {
    height: 380px;
    width: 1000px;
    border-radius: 10px;
    background-color: white;
    margin: 140px 50px 70px 10%;
    display: flex;
    flex-direction: row;
    transition: background-color 0.1s linear, transform 0.1s linear;
}

.card3:hover{
    background-color: #141414;
    transform: scale(1.05);
}

.card3 .flavour2 {
    transition: transform 0.1s ease, color 0.1s linear;
    color: #9900ff;
}

.card3:hover .flavour2 {
    transform: scale(1.05);
    color: #39ff14;
}

.flavour2 h2, p {
    font-family: "Verdana", Geneva, sans-serif;
}

.card3 img {
    width: 637px;
    height: 358px;
    margin: 10px;
    border-radius: 10px;
    flex-shrink: 0;
}

.flavour2 {
    margin: 10px 20px;
}


.flavour2 h2 {
    font-size: 28px;
    margin: 10px 0 20px 0;
}

.rezani {
    height: 200px;
    width: 100%;
    background-color: #141414;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.menusec p {
    color: white;
    margin: 20px 0;
    font-family: 'Josefin Sans', sans-serif;
}

.menusec img {
    height: 100px;
    width: 100px;
    margin: 20px 0;
}

@media (max-width: 480px) {
    @import "phone.scss";
}

@media (max-width: 1120px) {
    .card1, .card2, .card3  {
        width: 90%;
    }
    .card1 p, .card2 p, .card3 p {
        font-size: 90%;
    }
}

@media (max-width: 1061px) {
        .card1 p, .card2 p, .card3 p {
        font-size: 80%;
    }

        .card1 h2, .card2 h2, .card3 h2 {
        font-size: 20px;
    }
}

@media (max-width: 1000px) {
    .card1, .card2, .card3 {
        flex-direction: column;
        height: 550px;
    }


}