@import "reset.scss";

body {
    background-color: #2d2d2d;
}

h1 {
    font-size: 36px;
    font-family: "Times New Roman", Times, serif;
}

/* General */

.menu {
    height: 100px;
    width: 100%;
    background-color: #141414;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 36px;
    transition: color 0.1s linear, font-size 0.1s linear;
    margin: 10px 10px;
}

nav a:hover {
    color: #39ff14;
    font-size: 60px;
}

/* General */
/* Home */

.card1 {
    height: 380px;
    width: 1000px;
    border-radius: 10px;
    background-color: white;
    margin: 70px 10%;
    display: flex;
    flex-direction: row;
    transition: background-color 0.1s linear, transform 0.1s linear;
}

.card1:hover{
    background-color: #141414;
    transform: scale(1.05);
}

.card1 .flavour {
    transition: transform 0.1s ease, color 0.1s linear;
    color: #9900ff;
}

.card1:hover .flavour {
    transform: scale(1.05);
    color: #39ff14;
}

.flavour h2, p {
    font-family: "Verdana", Geneva, sans-serif;
}

.card1 img {
    width: 637px;
    height: 358px;
    margin: 10px;
    border-radius: 10px;
}

.flavour {
    margin: 10px 20px;
}

.flavour h2 {
    font-size: 28px;
    margin: 10px 0 20px 0;
}

.card2 {
    height: 380px;
    width: 1000px;
    border-radius: 10px;
    background-color: white;
    margin: 140px 50px 70px 10%;
    display: flex;
    flex-direction: row;
    transition: background-color 0.1s linear, transform 0.1s linear;
}

.card2:hover{
    background-color: #141414;
    transform: scale(1.05);
}

.card2 .flavour1 {
    transition: transform 0.1s ease, color 0.1s linear;
    color: #9900ff;
}

.card2:hover .flavour1 {
    transform: scale(1.05);
    color: #39ff14;
}

.flavour1 h2, p {
    font-family: "Verdana", Geneva, sans-serif;
}

.card2 img {
    width: 637px;
    height: 358px;
    margin: 10px;
    border-radius: 10px;
    flex-shrink: 0;
}

.flavour1 {
    margin: 10px 20px;
}


.flavour1 h2 {
    font-size: 28px;
    margin: 10px 0 20px 0;
}

.card3 {
    height: 380px;
    width: 1000px;
    border-radius: 10px;
    background-color: white;
    margin: 140px 50px 70px 10%;
    display: flex;
    flex-direction: row;
    transition: background-color 0.1s linear, transform 0.1s linear;
}

.card3:hover{
    background-color: #141414;
    transform: scale(1.05);
}

.card3 .flavour2 {
    transition: transform 0.1s ease, color 0.1s linear;
    color: #9900ff;
}

.card3:hover .flavour2 {
    transform: scale(1.05);
    color: #39ff14;
}

.flavour2 h2, p {
    font-family: "Verdana", Geneva, sans-serif;
}

.card3 img {
    width: 637px;
    height: 358px;
    margin: 10px;
    border-radius: 10px;
    flex-shrink: 0;
}

.flavour2 {
    margin: 10px 20px;
}


.flavour2 h2 {
    font-size: 28px;
    margin: 10px 0 20px 0;
}

/* Home */
/* General */

.rezani {
    height: 200px;
    width: 100%;
    background-color: #141414;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.menusec p {
    color: white;
    margin: 20px 0;
    font-family: 'Josefin Sans', sans-serif;
}

.menusec img {
    height: 100px;
    width: 100px;
    margin: 20px 0;
}

/* General */

@media (max-width: 480px) {
    @import "phone.scss";
}

@media (max-width: 1120px) {
    .card1, .card2, .card3  {
        width: 80%;
        margin: 70px 10%;
    }
    .card1 p, .card2 p, .card3 p {
        font-size: 75%;
    }

    .card1 h2, .card2 h2, .card3 h2 {
        font-size: 20px;
    }
}

@media (max-width: 1100px) {
    .card1, .card2, .card3 {
        flex-direction: column;
        width: 70%;
        height: 600px;
    }

    .card1 p, .card2 p, .card3 p {
        font-size: 90%;
    }

    .card1 h2, .card2 h2, .card3 h2 {
        font-size: 28px;
    }
}

@media (max-width: 952px) {
    .card1 img, .card2 img, .card3 img {
        width: 97%;
        height: auto;
    }
}

/* General */

.menuph {
    display: none;
    color: white;
}

.menuph {
    width: 100%;
    height: 100px;
    background-color: #141414;
}

.dropdown i {
    font-size: 30px;
    margin: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    list-style: none;
    padding: 10px 0;
    min-width: 150px;
}

.dropdown-content a {
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content li {
    padding: 8px 20px;
}

.dropdown-content li:hover {
    background-color: #141414;
}

/* General */
/* Services */

.servo {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;                 
    justify-content: center;
}

.servo a {
    flex: 1 1 calc(50% - 14px);
    max-width: 659px;
    display: block;
    text-decoration: none;
    color: black;
}

#serv1 {
    height: 380px;
    width: 659px;
    border-radius: 10px;
    background-color: white;
    margin: 70px 5px 20px 5px;
    display: flex;
    flex-direction: row;
}

#serv1 img {
    width: 637px;
    height: 358px;
    margin: 10px;
    border-radius: 10px;
}

#serv1 p {
    position: absolute;
    top: 55%;
    left: 25%;
    transform: translate(-50%, -50%);
    margin: 0;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

#serv2 {
    height: 380px;
    width: 659px;
    border-radius: 10px;
    background-color: white;
    margin: 70px 5px 20px 5px;
    display: flex;
    flex-direction: row;
}

#serv2 img {
    width: 637px;
    height: 358px;
    margin: 10px;
    border-radius: 10px;
}

#serv2 p {
    position: absolute;
    top: 55%;
    left: 75%;
    transform: translate(-50%, -50%);
    margin: 0;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}


#serv3 {
    height: 380px;
    width: 659px;
    border-radius: 10px;
    background-color: white;
    margin: 20px 5px;
    display: flex;
    flex-direction: row;
}

#serv3 img {
    width: 637px;
    height: 358px;
    margin: 10px;
    border-radius: 10px;
}

#serv3 p {
    position: absolute;
    top: 122%;
    left: 15%;
    transform: translate(-50%, -50%);
    margin: 0;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

#serv4 {
    height: 380px;
    width: 659px;
    border-radius: 10px;
    background-color: white;
    margin: 20px 5px;
    display: flex;
    flex-direction: row;
}

#serv4 img {
    width: 637px;
    height: 358px;
    margin: 10px;
    border-radius: 10px;
}

#serv4 p {
    position: absolute;
    top: 122%;
    left: 75%;
    transform: translate(-50%, -50%);
    margin: 0;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

/* Services */
/* EUIV */

#euivbg {
    width: 100%;
    height: auto;
    object-fit: contain;

    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 70%, rgba(0,0,0,0) 100%);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;

    mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 70%, rgba(0,0,0,0) 100%);
    mask-repeat: no-repeat;
    mask-size: cover;
}

#euivtxt {
    position: absolute;
    top: 50px;
    left: 350px;
}

#euivserv {
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#euivserv h2 {
    font-size: 2rem;
    color: #FFFFA9;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
}

#euivserv h4 {
    font-size: 1rem;
    color: white;
    font-family: "Source Sans Pro", sans-serif;
    margin: 20px 150px;
}

/* EUIV */
/* EUV */

.background-container {
    position: relative;
    width: 100%;
    aspect-ratio: 2 / 1;
}

.bg-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 70%, rgba(0,0,0,0) 100%);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;

    mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 70%, rgba(0,0,0,0) 100%);
    mask-repeat: no-repeat;
    mask-size: cover;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    z-index: 1;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 70%, rgba(0,0,0,0) 100%);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;

    mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 70%, rgba(0,0,0,0) 100%);
    mask-repeat: no-repeat;
    mask-size: cover;
}
